include CHANGELOG.md
include README.md
include LICENSE

include src/dbhose_airflow/common/renders/LOGO
recursive-include src/dbhose_airflow *.sql

prune src/dbhose_airflow/core/ddl_core/target
prune */target
prune target

global-exclude *.rs
global-exclude *.toml
global-exclude *.pyd
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.*~
global-exclude *.orig
global-exclude *.log
